DIV.CONTAINER {
WIDTH: 100%;
}
BODY {
MARGIN: 0;
}

HEADER {
 PADDING: 1EM;
 COLOR: WHITE;
 BACKGROUND-COLOR: LIGHTSALMON;
 CLEAR: LEFT;
 TEXT-ALIGN: LEFT;
}

FOOTER {
 PADDING: 1EM;
 COLOR: WHITE;
 BACKGROUND-COLOR: CORNFLOWERBLUE;
 CLEAR: LEFT;
 TEXT-ALIGN: CENTER;
}

.FA {
PADDING: 1EM;
FONT-SIZE: 20PX;
WIDTH: 20PX;
MARGIN: 5PX 2PX;
TEXT-ALIGN: CENTER;
TEXT-DECORATION: NONE;
BORDER-RADIUS: 50%;
}
.FA:HOVER {
OPACITY: 0.7;
}
.FA-FACEBOOK {
BACKGROUND: #3B5998;
COLOR: WHITE;
}
.FA-TWITTER {
BACKGROUND: #55ACEE;
COLOR: WHITE;
}
.FA-GOOGLE {
BACKGROUND: #DD4B39;
COLOR: WHITE;
}
.FA-YOUTUBE {
BACKGROUND: #bb0000;
COLOR: WHITE;
}
